@charset "UFT-8";

body{
    background-color: rgb(108, 108, 226);
    font: normal 1em 'Roboto';
}

header{
    color: white;
    text-align: center;
}

main{
    background-color: white;
    border-radius: 10px;
    padding: 32px;
    margin: auto;
    width: 350px;
    box-shadow: 8px 8px 0px black;
}

p{
    margin: 10px 0px 4px 0px;
}

input{
    width: 92%;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(243, 243, 243);
}

button{
    background-color: rgb(245, 245, 245);
    width: 100%;
    margin: 24px auto;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 4px 4px 0px black;
    
    font-weight: 700;
    text-transform: uppercase;
}

    button:hover{
        box-shadow: 2px 2px 0px black;
    }

#res{
    text-align: center;
}

footer{
    margin-top: 32px;
    color: white;
    text-align: center;
    font-style: italic;
}